.paginator
    display inline-block
    vertical-align middle
    margin-top -3px
    text-align center
    clear fix
    a
        display block
        float left
        size 20px
        font-family Arial, sans-serif
        font-size 12px
        line-height 20px
        font-weight 400
        color #333
        text-decoration none
        margin 0 3px
        &:last-child
            margin-right 0px
    .active

        background-color #ECECEC
    span
        display block
        float left
        size 20px
        font-family Arial, sans-serif
        font-size 12px
        line-height 20px
        font-weight 400
        color #333
.paginatorPrev,
.paginatorNext
    margin 0 !important
    svg
        display block
        float left
        margin-top 4px
        size 12px
