extends _layout_yellow

block content
    .about
        .aboutVideo
            img(src="img/video.jpg", alt="")
        .aboutContent
            .aboutText
                h2 Итальянская паста

                p Текстовое описание обращения директора. С происхождением пасты связанно множество легенд, мифов и исторических фактов. По одной из версий Италия считается первой страной, которая придумала этот продукт.  Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии.
                p Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии.
                span Имя Фамилия </br> генеральный директор
            .aboutPortrait
                img(src="img/aboutPort.png", alt="")
        .aboutPhotos
            .aboutPhotoColumn
                img(src="img/about-1.jpg", alt="")
                img(src="img/about-2.jpg", alt="")
            .aboutPhotoColumn
                img(src="img/about-3.jpg", alt="")
                .aboutPhotoRow
                    .aboutPhotoColumn
                        img(src="img/about-4.jpg", alt="")
                    .aboutPhotoColumn
                        img(src="img/about-5.jpg", alt="")
