extends _layout

block content
    .cart
        .cartHeader
            .cartBack
                a(href="#") Продолжить покупки
            | Корзина
        include block/cartItems.jade
        include block/cartSuggest.jade
        include block/cartForm.jade
