extends _layout

block content
    .catalog
        .catalogHeader
            | Паста
        .catalogMenu
            a(href="#").active Паста
            | •
            a(href="#") Паста с начинкой
            | •
            a(href="#") Соусы
            | •
            a(href="#") Аксессуары
            
        .catalogContent
            .catalogItems
                - for (var i = 0; i < 4; ++i) {
                    .catalogItem
                        .catalogItemPhoto
                            img(src="img/slide-1.png", alt="")
                            .catalogItemPhotoHover
                                .catalogItemPhotoHoverText
                                    | i
                                    span О пасте
                        .catalogItemName
                            a(href="#") Тальятелли
                        .catalogItemAdd
                            | &nbsp
                        .catalogItemButton
                            button.buttonGreenOutline
                                | в корзину&nbsp
                                b 250 гр&nbsp
                                | по 200 ₽
                            button.buttonGreenOutline
                                | в корзину&nbsp
                                b 500 гр&nbsp
                                | по 350 ₽
                                
                    .catalogItem
                        .catalogItemPhoto
                            img(src="img/slide-1.png", alt="")
                            .catalogItemPhotoHover
                                .catalogItemPhotoHoverText
                                    | i
                                    span О пасте
                        .catalogItemName
                            a(href="#") Тальятелли
                        .catalogItemAdd
                            | добавлено 8 × 250 гр, 12 × 500 гр
                        .catalogItemButton
                            button.buttonGreenOutline
                                | в корзину&nbsp
                                b 250 гр&nbsp
                                | по 200 ₽
                            button.buttonGreenOutline
                                | в корзину&nbsp
                                b 500 гр&nbsp
                                | по 350 ₽
                -}

            .catalogSidebar
                .fromChief
                    p
                        | «Нам важно, чтобы паста была свежей, поэтому закупаем ингредиенты ежедневно. Используем муку твердых сортов пшеницы Semola Di Grano Duro. Нам важно, чтобы паста была свежей, поэтому закупаем ингредиенты ежедневно. Сотрудничаем&nbsp
                        a(href="#") с&nbspсертифицированными поставщиками из Италии».
                    .fromChiefPhoto
                        .fromChiefPhotoAvatar
                            img(src="img/avatar.jpg", alt="")
                        .fromChiefPhotoSign
                            img(src="img/sign.png", alt="")
                        span
                            | Ферретти Джованни,<br> итальянский технолог
                .sidebarRecepts
                    .sidebarReceptsHeader
                        | Рецепты
                    a(href="#") Как приготовить тальятелли
                    a(href="#") Тальятелли с соусом песто
                    a(href="#") Секреты приготовления фузиллини
                    a(href="#") С чем подать свежий несваренный фетучини
                    
        .catalogDescription
            .catalogDescriptionItem
                h3 Доставка
                p Минимальная стоимость заказа 1 000 ₽. <br>До транспортной компании (Москва, ул. Георгиевская 124) — 100 ₽. <br> Курьером в пределах МКАД — 300 ₽, <br>за пределами — 300 ₽ + 20 ₽ за 1 км.
            .catalogDescriptionItem
                h3 Оплата
                p С yandex кошелека при оформлении заказа или наличными курьеру при получении. Компании оплачивают с помощью банковского счета.
            .catalogDescriptionItem
                h3 Время работы
                p
                    | Понедельник — Суббота <br>с 10.00 до 22.00
                    span Воскресенье — выходной
