extends _layout

block content
    .contact
        .contactHeader
            | Контакты
        .contactRow
            .contactColumn
                .contactPhone
                    | 8 (800) 301—0620
                    span <br>бесплатный звонок
                .contactTime
                    | Понедельник — Суббота <br>
                    | с 10 до 22
                    span Воскресенье — выходной
            .contactColumn
                .contactAddress
                    p Ждем в гости на ул. Складочная 1, стр. 18 <br>Пишите на пр. Ленина, 12, г. Москва
                    p Факс: 8 (499) 550-6610
                    p 
                        | Email:&nbsp
                        a(href="#") sales@nemoxrussia.ru
        .contactMap
            script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=03fDSHjJCNRQo_jZVnrTlLZI3Zx9F-yA&width=100%&height=400&lang=ru_RU&sourceType=constructor")
        .contactForm
            .contactFormHeader
                | Вопросы
            .contactFormText
                | Если у вас есть что нам сказать или спросить о нашем сервисе, продукции, пожалуйста,напишите в нашей группе в любой социальной сети воспользуйтесь формой ниже. <br> Мы обязательно ответим на ваше письмо в кратчайшие сроки.
            .contactFormSocial
                .contactFormSocialFB
                    a(href="#") Facebook
                .contactFormSocialVK
                    a(href="#") Vkontakte
                .contactFormSocialInstagramm
                    a(href="#") Instagram
            .contactFormItems
                .contactFormItem
                    label.label Представьтесь, пожалуйста
                    input.input
                .contactFormItem
                    label.label Телефон или email для связи
                    input.input
                .contactFormItem
                    label.label Сообщение
                    textarea.textarea
                .contactFormItem
                    button.buttonGreenBig
                        | Отправить
