extends _layout

block content
    .horeca
        .horecaMenu
            a(href="#").active Для ресторанов
            | •
            a(href="#") Кейтеринговых служб
            | •
            a(href="#") Шеф-поваров
            | •
            a(href="#") Оптовиков
            | •
            a(href="#").blue Предложить сотрудничество
        .horecaBanner
            .horecaBannerImage(style="background-image:url('img/horecaBanner.jpg')")
                .horecaBannerHeader
                    h2 Итальянская паста <br>для вашего ресторана
                    p Пояснить заголовок, расширить и дополнить смысл заголовка. <br>Пара простых предложений небольшого объема

        .horecaLogo
            .horecaLogoText
                | Нашу пасту<br> подают здесь
            .horecaLogoItem
                img(src="img/horeca-1.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-2.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-3.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-4.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-5.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-6.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-7.png", alt="")
        .horecaContent
            h3
                | Текстовое описание условий сотрудничества и продукции, что компания предлагает. С происхождением пасты связанно множество легенд, мифов и исторических фактов. По одной из версий Италия считается первой страной, которая придумала этот продукт.
            p По другой, пасту привез знаменитый путешественник Марко Поло из Китая в 1292 году. Споры среди кулинаров и историков не утихают до сих пор. Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии. Первое время темпы экспорта были не велики но уже спустя буквально несколько веков о этом блюде знала.
            p Удивительно, но самыми первыми задокументированными рецептами итальянской пасты стали записи, в которых указывалось, что этот продукт отваривали в воде с добавлением миндального молока после чего заправляли специальным соусом из сладких кореньев. Таким образом самый первый рецепт пасты был фактически десертом.
        .horecaForm
            .horecaFormHeader
                | Заявка на сотрудничество
            .horecaFormItems
                .horecaFormItem
                    label.label Имя и фамилия
                    input.input
                .horecaFormItem
                    label.label Название ресторана/бара/кафе
                    input.input
                .horecaFormItem
                    label.label Телефон
                    input.input
                .horecaFormItem
                    label.label Комментарий
                    textarea.textarea
                .horecaFormItem
                    button.buttonGreenBig
                        | Отправить
