extends _layout

block content
    .main
        include block/slider.jade
        include block/quality.jade
    .sliderPhoto
        img(src="img/photo-2.jpg", alt="")
        img(src="img/photo-3.jpg", alt="")
        img(src="img/photo-1.jpg", alt="")
        img(src="img/photo-2.jpg", alt="")
        img(src="img/photo-3.jpg", alt="")
        img(src="img/photo-4.jpg", alt="")
        img(src="img/photo-1.jpg", alt="")
        img(src="img/photo-2.jpg", alt="")
        img(src="img/photo-3.jpg", alt="")
        img(src="img/photo-4.jpg", alt="")
    
    .offers
        .offersWrap
            .offerPhoto
                img(src="img/tarelka.png", alt="")

            .offerItems
                .offerItem
                    h2 Horeca и Stylpasta
                    p Описание предложения сотрудничества. Что может предложить Stylpasta для посетителей ресторанов, кафе, гостиниц и прочее
                    button.buttonGreen Посмотреть предложение
                .offerItem
                    h2 Horeca и Stylpasta
                    p Описание предложения сотрудничества. Что может предложить Stylpasta для посетителей ресторанов, кафе, гостиниц и прочее
                    button.buttonGreen Посмотреть предложение

    include block/delivery.jade
    .main
        .recepts
            .receptBig
                .receptBigPhoto
                    img(src="img/recept-1.jpg", alt="")
                .receptBigText
                    a(href="#") Тальярини верде с соусом Песто
                    | Варить в большом количестве кипящей подсолённой воды 3 минуты.
            .receptSmall
                .receptSmallPhoto
                    img(src="img/recept-2.jpg", alt="")
                .receptSmallText
                    a(href="#") Как приготовить равиоли с тыквой и рикоттой
                    | Варить в большом количестве кипящей подсолённой воды 3 минуты.
            .receptLink
                a(href="#")
                    span Рецепты из Италии
                | Для любителей итальянской пасты мы еженедельно подготавливаем простые рецепты и советы от шеф- поваров
                
