extends _layout

block content
    .news
        .newsHeader
            | Новости
        .newsItems
            .newsItem
                .newsItemDate
                    | 3 мая 2015
                a(href="#") Открытие фестиваля здоровой пищи
                p С 3 по 4 июня в Посольстве Италии прошел прием, приуроченный к празднованию Дня Республики. Компания «Лапастафреска» выступила генеральным партнером мероприятия по организации гастрономической части торжества. Все гости высоко оценили качество свежей итальянской пасты и кулинарное мастерство наших шеф-поваров.

            .newsItem
                .newsItemDate
                    | &nbsp3 мая 2015
                a(href="#") Открытие фестиваля здоровой пищи
                p С 3 по 4 июня в Посольстве Италии прошел прием, приуроченный к празднованию Дня Республики. Компания «Лапастафреска» выступила генеральным партнером мероприятия по организации гастрономической части торжества. Все гости высоко оценили качество свежей итальянской пасты и кулинарное мастерство наших шеф-поваров.
