.cartForm
    .cartFormHeader
        | Доставка
    .cartFormDelivery
        .cartFormDeliveryType
            .cartFormDeliveryItem
                label.labelRadio
                    input(type='radio' name='delivery')
                    | Курьером по Москве в пределах МКАД
                    span — 300 ₽
            .cartFormDeliveryItem
                label.labelRadio
                    input(type='radio' name='delivery')
                    | Курьером по Москве за МКАД
                    span — 300 ₽ + 20 ₽/км
            .cartFormDeliveryItem
                label.labelRadio
                    input(type='radio' name='delivery')
                    | Самовывоз со склада Транспортной компании
                    span — 100 ₽
            .cartFormDeliveryItem
                label.labelRadio
                    input(type='radio' name='delivery')
                    | Самовывоз со Stylpasta
                    strong ул. Складочная 1, стр. 18, Москва
        .cartFormDeliveryPerson
            .cartFormDeliveryItem
                label.label Фамилия и имя получателя
                input.input
            .cartFormDeliveryItem
                label.label Телефон
                input.input
            .cartFormDeliveryItem
                label.label Эл. почта
                input.input
            .cartFormDeliveryItem
                label.label Адрес
                textarea.textarea
                    
    .cartFormHeader
        | Оплата
    .cartFormPay
        .cartFormDeliveryItem
            label.labelRadio
                input(type='radio' name='pay')
                | Yandex кошелек
        .cartFormDeliveryItem
            label.labelRadio
                input(type='radio' name='pay' checked)
                | Наличными курьеру
        .cartFormDeliveryItem
            label.labelRadio
                input(type='radio' name='pay')
                | Банковский счет
        .cartFormDeliveryItem
            label.label 
                | Комментарий 
                span (необязательно)
            textarea.textarea
    .cartFormTotal
        .cartFormTotalPrice
            | К оплате 9 250 ₽
        .cartFormTotalRules
            | Нажимая кнопку "Отправить заказ", вы соглашаетесь 
            a(href="#") с условиями оформления и оплаты заказов
        .cartFormTotalButton
            button.buttonGreenBig
                | Отправить заказ
