.cartItems
    .cartItem
        .cartItemPhoto
            img(src="img/slide-1.png", alt="")
        .cartItemName
            span Тальятелли
        .cartItemQty
            .cartItemQtyPrices
                .cartItemQtyGramm 250 гр ×
                .cartItemQtyPrice 200 ₽
            .cartItemQtyInput
                .spinner
                    button.spinnerUp +
                    input.input(value="1")
                    button.spinnerDown -

        .cartItemPrice
            | 1 250 ₽
        .cartItemDelete
            button.buttonDelete
    .cartItem
        .cartItemPhoto
            img(src="img/slide-1.png", alt="")
        .cartItemName
            span Тальятелли
        .cartItemQty
            .cartItemQtyPrices
                .cartItemQtyGramm 250 гр ×
                .cartItemQtyPrice 200 ₽
            .cartItemQtyInput
                .spinner
                    button.spinnerUp +
                    input.input(value="1")
                    button.spinnerDown -

        .cartItemPrice
            | 1 250 ₽
        .cartItemDelete
            button.buttonDelete
.cartItemsFooter
    .cartItemsFooterDelivery
        | Минимальная стоимость заказа 1 000 ₽ <br>
        a(href="#") Доставка
    .cartItemsFooterPrice
        | 9 250 ₽
    .cartItemsFooterButton
        button.buttonGreen Оформить заказ
