.suggestion
    .suggestionHeader
        | С пастой берут
    .suggestionItems
        .suggestionItem
            .suggestionItemPhoto
                img(src="img/slide-1.png", alt="")
            .suggestionItemName
                | Сливочно—ореховый
            .suggestionItemDescription
                button.buttonGreenOutline
                    | в корзину&nbsp
                    b 100 гр&nbsp
                    | по 50 ₽
                | молоко, грецкие орехи, <br> масло растительное, <br> майоран, чеснок
        .suggestionItem
            .suggestionItemPhoto
                img(src="img/slide-1.png", alt="")
            .suggestionItemName
                | Сливочно—ореховый
            .suggestionItemDescription
                button.buttonGreenOutline
                    | в корзину&nbsp
                    b 100 гр&nbsp
                    | по 50 ₽
                | молоко, грецкие орехи, <br> масло растительное, <br> майоран, чеснок
        .suggestionItem
            .suggestionItemPhoto
                img(src="img/slide-1.png", alt="")
            .suggestionItemName
                | Сливочно—ореховый
            .suggestionItemDescription
                button.buttonGreenOutline
                    | в корзину&nbsp
                    b 100 гр&nbsp
                    | по 50 ₽
                | молоко, грецкие орехи, <br> масло растительное, <br> майоран, чеснок
