.main
    .delivery
        .deliveryHeader
            h2 
                | Доставляем по&nbsp
                span Москве
            p Описание как и на чем доставляют.  Несколько слов об условиях доставки.
            p Понедельник — Суббота<br>с 10.00 до 22.00
            p.red Воскресенье — выходной
        .deliveryMap
            img(src="img/map.png", alt="")
        .deliveryPhone
            span Бесплатный звонок:<br>
            | 8 (800) 301—0620

    .newsMain
        .newsItem
            .newsItemDate
                span Новости.
                | 3 мая 2015
            a(href="#") Открытие фестиваля здоровой пищи
            p С 3 по 4 июня в Посольстве Италии прошел прием, приуроченный к празднованию Дня Республики. Компания «Лапастафреска» выступила генеральным партнером мероприятия по организации гастрономической части торжества. Все гости высоко оценили качество свежей итальянской пасты и кулинарное мастерство наших шеф-поваров.

        .newsItem
            .newsItemDate
                span Новости.
                | &nbsp3 мая 2015
            a(href="#") Открытие фестиваля здоровой пищи
            p С 3 по 4 июня в Посольстве Италии прошел прием, приуроченный к празднованию Дня Республики. Компания «Лапастафреска» выступила генеральным партнером мероприятия по организации гастрономической части торжества. Все гости высоко оценили качество свежей итальянской пасты и кулинарное мастерство наших шеф-поваров.
