.footer
    .footerWrap
        .footerMenu
            .footerMenuWrap
                a(href="#").active Паста
                a(href="#") О франшизе
                a(href="#") О компании
                a(href="#") Контакты
                a(href="#") Новости
                a(href="#") Рецепты
        .footerRow
            .footerSocial
                .footerCopyright
                    | 2015, Stylpasta
                .footerSocialLink
                    .footerSocialLinkFB
                        a(href="#") Facebook
                    .footerSocialLinkVK
                        a(href="#") Vkontakte
                    .footerSocialLinkInstagramm
                        a(href="#") Instagram
                .footerDesign
                    a(href="#") 
                        | — 
                        span Разработка сайта
            .footerContact
                | Бесплатный звонок:
                span 8 (800) 301—0620
                | Эл. почта:&nbsp
                a(href="#") sales@nemoxrussia.ru
            .footerAddress
                | Ждем в гости на&nbsp
                a(href="#") ул. Складочная 1, стр. 18<br>
                | Пишите на пр Ленина 12, Москва
                .footerLogos
                    .footerLogoRST
                    .footerLogoEAC
