.header
    .headerWrap
        .headerLeft
            .headerPhone
                | Бесплатный звонок:
                span  8(800) 301-0620
        .headerRight
            .headerCart
                span Корзина пуста
.menu
    .menuLogo
        img(src="img/logo.png", alt="")
    .menuItems
        .menuItemsTop
            a(href="#").active Паста
            a(href="#") Horeca
            a(href="#") О компании
            a(href="#") Контакты
        .menuItemsBottom
            a(href="#").active Доставка и оплата
            a(href="#") Новости
            a(href="#") Рецепты
