.quality
    .qualityHeader
        | Качество пасты
    .qualityContent
        .qualityContentPhoto
            img(src="img/quality.png", alt="")
        .qualityContentText
            h2 Готовим из итальянских ингредиентов
            p Описание свойств и качеств используемых в производстве ингредиентов. Несколько слов <br> о поставщиках и высоком уровне контроля над закупками.
    .qualityStandart
        .qualityStandartContent
            h2
                span По стандартам итальянского производства

            p
                b Подготовка теста
                | Замешиваем на сертифицированном итальянском оборудовании

            p
                b Форма
                | Нарезаем вручную и придаем форму с помощью пресса и бронзовых фильеров

            p
                b Пастеризация и упаковка
                | Трех минутная обработка паром и герметичная атмосферная упаковка сохраняют полезные качества надолго
        .qualityStandartInterview
            .qualityStandartInterviewPhoto
                img(src="img/cheif.jpg", alt="")
                | Ферретти Джованни,<br>итальянский технолог
            .qualityStandartInterviewQoute
                | «Интервью итальянского технолога об итальянском менеджменте на всех этапах производства. О соблюдении европейских стандартов качества и безопасности технологических операций. Интервью итальянского технолога
