.sliders
    .sliderBig
        .sliderBigSlide
            .sliderBigSlidePhoto
                img(src="img/slide-1.png", alt="")
            .sliderBigSlideDescription
                h2 Равиоли <br> с тыквой и рикоттой
                p
                    b Тесто:
                    |  мука твердых сортов итальянской пшеницы, яйца, вода
                p
                    b Начинка:
                    |  тыква, сыр «Рикотта», сыр «Grana padano», лук, майоран, масло сливочное, соль
                .sliderBigSlideTime
                    | Время приготовления: 
                    span  3—5 мин
                .sliderBigSlideLife
                    | Срок хранения: 
                    span  3 дня при +2° +4°
        .sliderBigSlide
            .sliderBigSlidePhoto
                img(src="img/slide-1.png", alt="")
            .sliderBigSlideDescription
                h2 Паста <br> с тыквой и рикоттой
                p
                    b Тесто:
                    |  мука твердых сортов итальянской пшеницы, яйца, вода
                p
                    b Начинка:
                    |  тыква, сыр «Рикотта», сыр «Grana padano», лук, майоран, масло сливочное, соль
                .sliderBigSlideTime
                    | Время приготовления:
                    span  3—5 мин
                .sliderBigSlideLife
                    | Срок хранения: 
                    span  3 дня при +2° +4°
    .sliderSmall
        .sliderSmallSlide
            .sliderSmallSlidePhoto
                img(src="img/slide-1.png", alt="")
            .sliderSmallSlideText
                span Равиоли
        .sliderSmallSlide
            .sliderSmallSlidePhoto
                img(src="img/slide-1.png", alt="")
            .sliderSmallSlideText
                span Тальятелли
