.header
    display block
    //background-color #000
    background-image inline('headerBG.png')
    height 50px
.headerWrap
    center(960px)
.headerLeft,
.headerRight
    col(1/2)
    height 50px
.headerPhone
    display block
    margin-top 16px
    color white
    font-family "PT Sans"
    font-weight 400
    line-height 30px
    font-size 13px
    line-height 18px
    span
        font-size 18px


.headerCart
    display block
    height 50px
    vertical-align middle
    margin-top 16px
    float right
    span
        display inline-block
        color white
        font-family "PT Serif"
        font-size 13px
        font-weight 700
        font-style italic
        line-height 18px
        padding-left 22px
        background-image inline("iconCart.png")
        background-repeat no-repeat
